<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
     <div class="panel panel-default widget">
    	  <div class="panel-body">
    	   <h2 class="text-center">Postla</h2>
    	   <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> kaydoldu bisiler</h2>
        
              <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
    		  <div class="form-group">
    			<%= f.label :baslik %><br >
    			<%= f.text_field :title, autofocus: true, class:"form-control",  placeholder:"selam" %>
    		  </div>
    		  <div class="form-group">
    			<%= f.label :aciklama %><br >
    			<%= f.text_area :description, autocomplete: "off",class:"form-control", placeholder:"hadi yazdim" %>
    		  </div>
    		  <div class="form-group">
    			<%= f.label :resim %><br>
    			 <%= f.file_field :image ,class:"form-control" %>
    		  </div>
          <div class="actions">
            <%= f.submit "Postlaa",class:"btn btn-primary" %>
          </div>
        <% end %>

        
      </div>
    </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

